<footer class='bg-gray-100 px-16 py-12 mt-8'>

    <div class='flex flex-row justify-between px-6 items-center'>

        <div>

            &copy; [/= new Date().getFullYear() /] <span
                  class='font-bold text-sm text-center px-4 text-lg text-yellow-500'>
                [/=siteName /]
            </span>
<br />
<span class="font-bold text-sm py-4 inline-block">All
    rights reserved</span>


        </div>

        <ul class='hidden md:inline-block ml-48 space-x-8 text-lg text-center text-gray-700 '>
            <a href='/about'
               class='cursor-pointer hover:underline'> About </a>
            <a href='/security'
               class='cursor-pointer hover:underline'> Security </a>
            <a href='/investment'
               class='cursor-pointer hover:underline'> Investment </a>


        </ul>

    </div>

</footer>